<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecipesItemsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecipeDetailsActivity" />
        <activity
            android:name=".IngredientDetailsActivity" />
        <activity
            android:name=".StepDetailsActivity" />

        <receiver android:name=".RecipeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_provider_info" />
        </receiver>

        <provider
            android:authorities="com.example.android.bakingapp"
            android:name=".provider.IngredientsContentProvider"
            android:exported="false"/>

        <service
            android:name=".RecipeWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/> <!-- this permission lets the system bind your service to create the widget views for each row and prevents other apps from accessing your widget's data -->

    </application>

</manifest>